http://mapfrappe.com/?show=51352

In [1]:
import time
import planarity
import warnings
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import requests
import osmnx as ox
from shapely.geometry import Point, Polygon, LineString, MultiLineString

from planar_analysis import *

ox.config(use_cache=True, log_console=True)
%matplotlib inline

## Configure the script

In [2]:
df_places = pd.read_csv('data/places.csv')

distances = [805] #804.67 meters in each direction makes for 1 square mile, 500 meters is 1 sq km

network_types = ['drive', 'walk']

In [3]:
#df_places = df_places.loc[0:6]
df_places

         country           city        lat         lng
0      Argentina   Buenos Aires -34.608657  -58.375547
1      Australia         Sydney -33.863616  151.208977
2         Brazil      Sao Paulo -23.549155  -46.633600
3         Canada        Toronto  43.649903  -79.380838
4         Canada      Vancouver  49.281651 -123.121363
5          Chile       Santiago -33.439754  -70.654296
6          China        Beijing  39.908427  116.465505
7          China       Shanghai  31.236286  121.503787
8          China      Hong Kong  22.282321  114.156843
9        Denmark     Copenhagen  55.679443   12.578284
10         Egypt          Cairo  30.044485   31.235725
11        France           Lyon  45.761016    4.833705
12        France          Paris  48.865579    2.352091
13       Germany         Berlin  52.521881   13.412545
14         India          Delhi  28.653108   77.229937
15     Indonesia        Jakarta  -6.194934  106.822871
16          Iran         Tehran  35.691883   51.383896
17         Italy        Bologna  44.494856   11.342612
18         Italy       Florence  43.772912   11.255328
19         Italy          Milan  45.468243    9.182484
20         Japan          Osaka  34.693758  135.501093
21         Japan          Tokyo  35.658103  139.701195
22         Kenya        Nairobi  -1.281490   36.822077
23        Mexico    Mexico City  19.426895  -99.167636
24       Nigeria          Lagos   6.458257    3.388064
25          Peru           Lima -12.043384  -77.043067
26   Philippines         Manila  14.598500  120.978404
27        Russia         Moscow  55.749165   37.537873
28     Singapore      Singapore   1.293987  103.856525
29       Somalia      Mogadishu   2.045684   45.319750
30  South Africa   Johannesburg -26.206864   28.044249
31         Spain      Barcelona  41.388428    2.171327
32   Switzerland         Geneva  46.201351    6.148301
33      Thailand        Bangkok  13.755901  100.505214
34        Turkey       Istanbul  41.013308   28.961120
35           UAE          Dubai  25.202671   55.274985
36            UK      Edinburgh  55.953325   -3.189150
37            UK         London  51.513387   -0.088985
38           USA        Atlanta  33.756297  -84.386107
39           USA        Chicago  41.880601  -87.632326
40           USA     Cincinnati  39.101593  -84.514753
41           USA         Dallas  32.777714  -96.805628
42           USA    Los Angeles  34.056394 -118.249837
43           USA          Miami  25.772500  -80.194432
44           USA       New York  40.713951  -74.005871
45           USA        Phoenix  33.448217 -112.073827
46           USA  San Francisco  37.789269 -122.401411
47           USA        Seattle  47.611170 -122.334450
48           USA  Washington DC  38.904701  -77.036535
49     Venezuela        Caracas  10.494903  -66.850865

## Execute the script

In [4]:
# convert df to dict for execution
places = {}
for label, row in df_places.iterrows():
    key = '{}_{}'.format(row['country'], row['city'])
    value = (row['lat'], row['lng'])
    places[key] = value
    
places = df_places

In [5]:
results = []
for label, row in df_places.iterrows():
    
    coords = (row['lat'], row['lng'])
    point = Point(row['lng'], row['lat'])
    
    for network_type in network_types:
        
        for distance in distances:

            print(row['country'], row['city'], network_type, distance, end=' ')
            try:

                start_time = time.time()
                G = get_graph(coords, distance, network_type)

                # get a special buffered graph for planar analysis
                buffer = 500
                G_buff = get_graph(coords, distance + buffer, network_type)

                # get a bounding box to trim things square
                north, south, east, west = ox.bbox_from_point(coords, distance)
                bbox = Polygon([(west, north), (west, south), (east, south), (east, north)])

                # how many planar line intersections are there?
                planar_intersections = calculate_planar_intersections(G_buff, bbox)
                count_planar_intersections = len(planar_intersections)

                # how many nonplanar graph edge intersections are there?
                nonplanar_intersections = calculate_nonplanar_intersections(G, bbox)
                count_nonplanar_intersections = len(nonplanar_intersections)

                # how many cleaned, clustered intersections are there?
                cleaned_intersections = calculate_cleaned_intersections(nonplanar_intersections, G.graph['crs'])
                count_cleaned_intersections = len(cleaned_intersections)
                
                # how does planarity affect average edge length?
                mean_edge_length, mean_planar_segment_length, edge_length_ratio = calculate_edge_length_ratios(G, planar_intersections)

                if count_nonplanar_intersections > 0:
                    # planar line intersections overcounts nonplanar graph edge intersections by xx%
                    # ie, planar graph shows xx% more intersections than nonplanar graph with bridges/tunnels
                    planar_nonplanar_overcount = count_planar_intersections / count_nonplanar_intersections
                else:
                    planar_nonplanar_overcount = None #avoid divide by zero errors

                if count_cleaned_intersections > 0:
                    # edge intersections overcounts street intersections by xx%
                    nonplanar_cleaned_overcount = count_nonplanar_intersections / count_cleaned_intersections

                    # line intersections overcounts street intersections by xx%
                    planar_cleaned_overcount = count_planar_intersections / count_cleaned_intersections
                else:
                    planar_cleaned_overcount = None #avoid divide by zero errors
                    nonplanar_cleaned_overcount = None

                # is it a formally planar graph (ignoring spatial embedding)?
                warnings.filterwarnings('ignore')
                is_planar = planarity.is_planar(G)
                warnings.resetwarnings()
                
                runtime = round(time.time() - start_time, 2)
                print(runtime)
                
                # assemble the results
                result = {'country' : row['country'], 
                          'city' : row['city'],
                          'geometry' : point,
                          'distance' : distance,
                          'network_type' : network_type,
                          'nodes' : len(G.nodes()),
                          'count_planar_intersections' : count_planar_intersections,
                          'count_nonplanar_intersections' : count_nonplanar_intersections,
                          'count_cleaned_intersections' : count_cleaned_intersections,
                          'overcount_planar_nonplanar' : planar_nonplanar_overcount,
                          'overcount_nonplanar_cleaned' : nonplanar_cleaned_overcount,
                          'overcount_planar_cleaned' : planar_cleaned_overcount,
                          'mean_edge_length' : mean_edge_length,
                          'mean_planar_segment_length' : mean_planar_segment_length,
                          'edge_length_ratio' : edge_length_ratio,
                          'phi' : 1 / planar_nonplanar_overcount,
                          'is_planar' : is_planar,
                          'runtime' : runtime}
                results.append(result)

            except Exception as e:
                print(e)

Argentina Buenos Aires drive 805 9.08
Argentina Buenos Aires walk 805 67.44
Australia Sydney drive 805 5.79
Australia Sydney walk 805 81.5
Brazil Sao Paulo drive 805 15.17
Brazil Sao Paulo walk 805 46.64
Canada Toronto drive 805 8.4
Canada Toronto walk 805 1058.58
Canada Vancouver drive 805 6.55
Canada Vancouver walk 805 64.75
Chile Santiago drive 805 8.64
Chile Santiago walk 805 29.57
China Beijing drive 805 2.77
China Beijing walk 805 7.01
China Shanghai drive 805 5.29
China Shanghai walk 805 16.77
China Hong Kong drive 805 14.13
China Hong Kong walk 805 143.48
Denmark Copenhagen drive 805 9.82
Denmark Copenhagen walk 805 93.02
Egypt Cairo drive 805 12.59
Egypt Cairo walk 805 23.24
France Lyon drive 805 22.45
France Lyon walk 805 111.28
France Paris drive 805 14.24
France Paris walk 805 102.02
Germany Berlin drive 805 6.23
Germany Berlin walk 805 199.02
India Delhi drive 805 2.2
India Delhi walk 805 12.34
Indonesia Jakarta drive 805 12.14
Indonesia Jakarta walk 805 26.21
Iran Tehran drive 805 44.28
Iran Tehran walk 805 110.76
Italy Bologna drive 805 16.74
Italy Bologna walk 805 125.89
Italy Florence drive 805 12.56
Italy Florence walk 805 62.34
Italy Milan drive 805 13.06
Italy Milan walk 805 168.55
Japan Osaka drive 805 36.41
Japan Osaka walk 805 218.82
Japan Tokyo drive 805 66.55
Japan Tokyo walk 805 155.24
Kenya Nairobi drive 805 11.28
Kenya Nairobi walk 805 20.13
Mexico Mexico City drive 805 21.35
Mexico Mexico City walk 805 31.65
Nigeria Lagos drive 805 16.08
Nigeria Lagos walk 805 14.56
Peru Lima drive 805 16.08
Peru Lima walk 805 45.22
Philippines Manila drive 805 14.1
Philippines Manila walk 805 40.91
Russia Moscow drive 805 2.04
Russia Moscow walk 805 69.01
Singapore Singapore drive 805 4.73
Singapore Singapore walk 805 100.63
Somalia Mogadishu drive 805 233.64
Somalia Mogadishu walk 805 235.01
South Africa Johannesburg drive 805 13.49
South Africa Johannesburg walk 805 14.54
Spain Barcelona drive 805 7.64
Spain Barcelona walk 805 133.55
Switzerland Geneva drive 805 31.35
Switzerland Geneva walk 805 429.6
Thailand Bangkok drive 805 22.03
Thailand Bangkok walk 805 43.17
Turkey Istanbul drive 805 37.29
Turkey Istanbul walk 805 123.86
UAE Dubai drive 805 5.89
UAE Dubai walk 805 14.1
UK Edinburgh drive 805 9.79
UK Edinburgh walk 805 262.86
UK London drive 805 23.16
UK London walk 805 447.03
USA Atlanta drive 805 8.19
USA Atlanta walk 805 33.81
USA Chicago drive 805 10.2
USA Chicago walk 805 192.14
USA Cincinnati drive 805 10.82
USA Cincinnati walk 805 73.31
USA Dallas drive 805 14.88
USA Dallas walk 805 44.18
USA Los Angeles drive 805 7.72
USA Los Angeles walk 805 50.81
USA Miami drive 805 8.39
USA Miami walk 805 24.55
USA New York drive 805 15.58
USA New York walk 805 103.84
USA Phoenix drive 805 6.57
USA Phoenix walk 805 106.97
USA San Francisco drive 805 8.14
USA San Francisco walk 805 89.69
USA Seattle drive 805 15.46
USA Seattle walk 805 316.36
USA Washington DC drive 805 16.96
USA Washington DC walk 805 223.01
Venezuela Caracas drive 805 7.98
Venezuela Caracas walk 805 10.91

In [6]:
gdf = gpd.GeoDataFrame(results, geometry='geometry').round(3)
gdf.crs = {'init': 'epsg:4326'}
print('finished in {:.2f} minutes'.format(gdf['runtime'].sum() / 60))

finished in 119.43 minutes

## Save results to disk

In [7]:
ox.save_graph_shapefile(G, filename='graph', folder='data')

In [8]:
planar_intersections.to_file('data/graph/planar')
nonplanar_intersections.to_file('data/graph/nonplanar')
cleaned_intersections.to_file('data/graph/cleaned')

In [9]:
north, south, east, west = ox.bbox_from_point(coords, distance)
polygon = Polygon([(west, north), (west, south), (east, south), (east, north)])
gpd.GeoSeries([polygon]).to_file('data/graph/bbox')

In [10]:
gdf.to_csv('data/results.csv', index=True, encoding='utf-8')

In [11]:
gdf2 = gdf.set_index(['country', 'city', 'distance', 'network_type'])
gdf2.iloc[gdf2.index.get_level_values('network_type') == 'drive'].to_csv('data/results_drive.csv')
gdf2.iloc[gdf2.index.get_level_values('network_type') == 'walk'].to_csv('data/results_walk.csv')